@import url('https://fonts.google.com/specimen/Sora?query=sora');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: #000000;
}

.card{
    width: 368px;
    margin-top: 164px;
    overflow: hidden;
    position: relative;
}

.card-image{
    width: 336px;
    height: auto;
    position: relative;
    padding: 16px  ;
}

img{
    width: 336px;
    height: 152px;
    border-radius: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;

}

.get-started {
    padding: 1rem 2rem;
    border: 0.5px solid #1e293b;
    background-color: #94a3b817;
    border-radius: 2rem;
    font-size: 0.875rem;
    font-weight: 200;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
}

.title {
    position: relative;
    text-align: center;
}

.title::after {
    content: "";
    background: url('../images/blur-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -130px;
    right: -75px;
    width: 500px;
    height: 250px;
    opacity: 0.5;
}

.logo {
    display: none;
}


.link-card {
    padding: 1rem;
    border: 0.5px solid transparent;
    transition: all ease-in-out 50ms;
    cursor: pointer;
}

.link-card:hover {
    border: 0.5px solid #1e293b;
    background-color: #94a3b817;
    border-radius: 8px;
}

.link-title {
    font-size: 1.125rem;
}

.link-description {
    font-size: 0.875rem;
    font-weight: 200;
    margin-top: 0.5rem;
    color: #94a3b8;
}

@media screen and (min-width: 720px) {
    .logo {
        display: initial;
    }

    .get-started {
        width: auto;
    }

    main {
        flex-direction: row;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

  }